In [3]:
import sqlite3
import codecs
import os
import re

dbpath ="../coptic.db"
conn = sqlite3.connect(dbpath)
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS metadata")
cur.execute('''CREATE TABLE IF NOT EXISTS metadata 
                 (docid INTEGER, metaid INTEGER, key text, value text, FOREIGN KEY (docid) REFERENCES users(id), UNIQUE (docid, metaid) ON CONFLICT REPLACE))''')

#cur.execute('''CREATE TABLE IF NOT EXISTS metadata 
             (docid INTEGER, key text, value text, FOREIGN KEY (docid) REFERENCES users(id))''')


conn.commit()
conn.close()

In [4]:
from coptic_sql import *

In [7]:
doc_id=4
meta = generic_query("SELECT key,value FROM metadata WHERE docid=?",(doc_id,))

In [8]:
meta

[(u'year', u'288 b.c.'), (u'book', u'book of death')]

In [9]:
for item in meta:
    for i in item:
        print i

year
288 b.c.
book
book of death

In [12]:

def cell(text):
    return "\n    <td>" + str(text) + "</td>"

table="""<table>"""
for item in meta:
    #each item appears in one row of the table
    row="\n <tr>"
    for i in item:
        row+=cell(i)
    row+="</tr>"
    table+=row
table+="\n</table>"

In [14]:
print table

<table>
 <tr>
    <td>year</td>
    <td>288 b.c.</td></tr>
 <tr>
    <td>book</td>
    <td>book of death</td></tr>
</table>

In [15]:
cur.execute("DROP TABLE IF EXISTS metadata")

ProgrammingError: Cannot operate on a closed database.